flows.json
[
    {
        "id": "b1c70c867053924d",
        "type": "tab",
        "label": "NASA API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f21d84ec3e993b7e",
        "type": "inject",
        "z": "b1c70c867053924d",
        "name": "NASA Authentication",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "1df737d258c07954"
            ]
        ]
    },
    {
        "id": "1df737d258c07954",
        "type": "function",
        "z": "b1c70c867053924d",
        "name": "set request",
        "func": "\nvar token = \"2VgiIHYE8WtWHVrfjmqcVXB3HbWKUtf1bP9lbh1l\"\nmsg.url=\"https://api.nasa.gov/planetary/apod?api_key=\"+token+\"\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "fdbce3c1d65929c5"
            ]
        ]
    },
    {
        "id": "fdbce3c1d65929c5",
        "type": "http request",
        "z": "b1c70c867053924d",
        "name": "http request to NASA",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "a2119fbad1888896",
                "8e8e2e241b51bdec"
            ]
        ]
    },
    {
        "id": "6495871bcfa5fc5f",
        "type": "e-mail",
        "z": "b1c70c867053924d",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "36749ad5fc0a236b",
        "type": "function",
        "z": "b1c70c867053924d",
        "name": "set e-mail",
        "func": "var body = msg.payload.body;\nmsg\n//e-mail subject\nmsg.topic = \"APİ\"\n//\nmsg.to = \"guneycansanli@gmail.com\";\n//e-mmail body\nmsg.payload = body;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 300,
        "wires": [
            [
                "6495871bcfa5fc5f",
                "57ef58672915024c"
            ]
        ]
    },
    {
        "id": "a2119fbad1888896",
        "type": "debug",
        "z": "b1c70c867053924d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "f7be9fc05d3fb9ab",
        "type": "template",
        "z": "b1c70c867053924d",
        "name": "set e-mail template",
        "field": "payload.body",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " <!DOCTYPE html>\n<html>\n<head>\n<style>\nimg {\n  width: 100%;\n}\n</style>\n</head>\n<body>\n    <h1>Today's space photo</h1>\n    <h2>{{url}}</h2>\n\n<img src=\"{{url}}\" alt=\"{{title}}\" >\n\n\n</body>\n</html> \n",
        "output": "str",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "36749ad5fc0a236b"
            ]
        ]
    },
    {
        "id": "57ef58672915024c",
        "type": "debug",
        "z": "b1c70c867053924d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "8e8e2e241b51bdec",
        "type": "function",
        "z": "b1c70c867053924d",
        "name": "return payload",
        "func": "\nvar urll = msg.payload.url;\nvar titlee = msg.payload.title;\n\nreturn msg.payload;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 100,
        "wires": [
            [
                "2cb9727ef1501572",
                "f7be9fc05d3fb9ab"
            ]
        ]
    },
    {
        "id": "2cb9727ef1501572",
        "type": "debug",
        "z": "b1c70c867053924d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 40,
        "wires": []
    }
]